.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bannerContainer {
  position: relative;
  width: 100%;
}

.bannerImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.bannerText {
  position: absolute;
  top: 134px;
  left: 261px;
  color: white;
  text-align: left;
}

.bannerText div {
  font: normal normal normal 74px/111px Poppins;
  text-align: end;
}

@media (max-width: 768px) {
  .bannerText {
    top: 50px;
    left: 121px;
  }
}

.bannerText div + div {
  top: 70px;
  position: absolute;
  font: normal normal normal 67px/80px Monster Clubhouse;
}

@media (max-width: 428px) {
  .bannerText {
    top: 66px;
    left: 57px;
  }
  .bannerImg {
    height: 234px;
    width: 100%;
    object-fit: cover;
  }
  .bannerText div {
    font: normal normal normal 51px/77px Poppins;
  }
  .bannerText div + div {
    top: 45px;
    font: normal normal normal 51px/61px Monster Clubhouse;
  }
}

.menuItems {
  display: none;
}

@media (max-width: 768px) {
  .menuItems {
    display: flex;
    gap: 12px;
    padding: 0px 36px;
  }
}

@media (max-width: 428px) {
  .menuItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 0px 30px;
  }
}

.content {
  padding: 0px 70px;
}

.title {
  padding: 28px 0px;
  text-align: left;
  color: #d84a4a;
  font: normal normal normal 67px/80px Monster Clubhouse;
}

@media (max-width: 428px) {
  .content {
    padding: 0px 23px;
  }
  .title {
    font: normal normal normal 54px/65px Monster Clubhouse;
    text-align: center;
    padding: 0px;
  }
}

.recipesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 120px;
  column-gap: 16px;
  padding-bottom: 160px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .recipesContainer {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding-bottom: 60px;
    padding-top: 80px;
  }
}
