.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  width: auto;
  height: auto;
}

.title {
  font: normal normal normal 17px/20px Monster Clubhouse;
  letter-spacing: 0px;
  color: #d84a4a;
  padding-top: 3px;
}

.description {
  font: normal normal normal 15px/20px Poppins;
  letter-spacing: 0px;
  color: #425966;
}
